h3{
    color: #e3c43b;/* #baa02d #c7ab30 #e3c43b  */
    font-size: 30px;
}

h5{
    color: #666666;
}
.game-container{
    color: #666666;
}
.instructions {
    color: azure;
}

.game_flag_button{
    width: 70px;
    font-size: 22px;
    color: #e3c43b;
    background-color: #666666;
    padding: 2px 5px;
    margin-left: 267px;
    position: relative;
    bottom: 27px;
    border-radius: 5px;
    border-style: solid;
    height: auto;
}
.game-input1{
    font-size: 22px;
    width: 70px;
    padding: 2px 5px;
    margin-left: 260px;
    border-radius: 7px;
    height: 30px;
    position: relative;
    bottom: 27px;
    background-color: #666666;
    color: #e3c43b;
    text-align: center;
}
.jack{
    background-color: #e3c43b;
}
.game{
    margin: 0;
    padding: 0;
}