.gamer_name {
    color: azure;
    width: 130px;
    position: relative;
    font-size: 26px;
    color: #e3c43b;
    top: 10px;
}

.game_list_item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.game_list_item_div {
    display: flex;
    margin: 0;
    padding: 0;
    width: 330px;
    border-top: #e3c43b 1px solid;
}
.game_list_item_div:last-child {
    border-bottom: #e3c43b 1px solid;
}

.cumulative_skore {
    color: #282c34;
    position: relative;
    bottom: 10px;
    width: 50px;
    font-size: 20px;
    text-align: center;

}
.approval_icon{
    width: 60px;
    height: 46px;
    position: relative;
    top: 29px;
    left: 30px;
    float: right;
  
    
}
.game-input2{
    float: right;
    position: relative;
    background-color: #282c34;
    text-align: center;
    color: #e3c43b;
    border-radius: 7px;
    border-color: #666666;
    border-width: 4px;
    padding: 2px 5px;
    top: 33px;
    left: 20px;
    width: 40px;
    height: 30px;
    font-size: 22px;
}