.player-item{
    color: #61dafb;
    list-style-type: none;
}
.player-item__content{
    margin: 0;
    padding: 13px 0;
    border-bottom: 1px solid #61dafb;
    border-top: 1px solid #61dafb;
    display: flex;
    flex-direction: column;
    width: 100%;
 
    
}
.player-item__name > h3 {
    color: azure;
    margin: 0;
    padding: 0;
    min-width: 53%;
    position: relative;
    top: 13px;
    left: 7px;
}
.player-item__info{
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 10px; 
    height: 50px;

}
.player-item__info > h5{
    margin: 0;
    padding: 0 5px; 
}

.player-item__select{
    margin: 0;
    padding: 0;
    position: relative;
    right: 30px;
    top: 20px;
    
}

.player-item__slot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}
.poisonTracker{
    margin: 0;
    padding: 0;
    position: relative;
    left: 200px;
    bottom: 24px;
}